<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单管理</title>
    <link rel="stylesheet" type="text/css"href="/css/commodity.css">
</head>
<body>
<nav class="navbar">
    <div class="nav-info">
        <a href="#" class="username"><label th:text="${session.username}" ></label></a>
        <a href="#" class="bookshelf">||&nbsp;&nbsp;&nbsp;我的交易</a>
        <a href="/admin" class="logout">[ 退 出 ]</a>
    </div> <!-- nav-info -->

    <form action="Searchordergrid" method="get">
        <div class="nav-search">
            <a href="#"><img class="logo" src="/img/logo2.png"></a>
            <div class="search-form">
                <input id="search-input" name="Search" class="searchIn" placeholder="输入收货人或订单名查询订单信息" >
                <a href="#" class="search-logo">| &nbsp;<img src="/img/search.png"></a>
                <button type="submit" id="search-button" class="searchBtn">搜索</button>
            </div>
        </div><!--  nav-search -->
    </form>

    <ul class="menu">
        <li><a  th:href="@{/adminusergrid}">用户管理</a></li>
        <li><a  th:href="@{/admincommgrid}">商品管理</a></li>
        <li><a th:href="@{/admincategorygrid}">商品类型管理</a></li>
        <li><a class="active" th:href="@{/adminordergrid}">订单管理</a></li>
    </ul>
</nav>

<div id="container">
    <table border="1"  style="background-color: #C0C0C0;text-align: center;margin: auto" width="100%" height="70%">
        <tr>
            <th>序列号</th>
            <th>订单名</th>
            <th>收货地址</th>
            <th>收货人电话</th>
            <th>收货人姓名</th>
            <th>订单时间</th>
            <th>订单状态</th>
            <th>订单总价</th>
            <th>订单用户</th>
            <th>描述</th>
            <th>商品图片</th>
            <th>操作</th>
        </tr>
        <tr  th:each="order,counts:${page.list}" >
            <td th:text="${counts.count}"></td>
            <td th:text="${order.getName()}"></td>
            <td th:text="${order.getAddres()}"></td>
            <td th:text="${order.getPhone()}"></td>
            <td th:text="${order.getShname()}"></td>
            <td th:text="${order.getOrder_date()}"></td>
            <td th:switch="${order.getState()}">
                <a th:case="'1'">未付款</a>
                <a th:case="'2'" th:href="@{/delivergoods(orderid=${order.getId()})}" >发货</a>
                <a th:case="'3'">等待收货</a>
                <a th:case="'4'">订单完成</a>
            </td>
            <td th:text="${order.getTotal()}"></td>
            <td th:text="${order.getLogin_id()}"></td>
            <td th:text="${order.getDescrip()}"></td>
            <td> <img width="100" height="50"  th:src="@{'/img/comm/'+${order.getImg()}}"/></td>
            <td>
                <a th:href="@{/deleteorders(orderid=${order.getId()})}">删除</a>
            </td>
        </tr>
    </table>
    <div th:if="${page.getList().size()} eq ${0}" style="text-align: center">
        <label style="color: red ;text-align: center" >输入格式不对或者搜索内容不存在，请重试！</label>
    </div>
    <br>
    <span class="page-btn">
        <a th:href="@{/adminordergrid(start=0)}">[首  页]</a>
        <a th:href="@{/adminordergrid(start=${page.pageNum -1})}">[上一页]</a>
        <a th:href="@{/adminordergrid(start=${page.pageNum+1})}">[下一页]</a>
        <a th:href="@{/adminordergrid(start=${page.pages})}">[末  页]</a>
    </span>
</div><!-- container end-->
<footer>
    <a href="#">©2018-2019 二手交易商城</a>
    <a href="#">意见反馈&nbsp;&nbsp;&nbsp;联系我们&nbsp;&nbsp;&nbsp;隐私权声明&nbsp;&nbsp;&nbsp;使用条款</a>
</footer>
</body>
</html>