<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商城首页</title>
    <link rel="stylesheet" href="/css/home.css" />
</head>
<body>
        <nav class="navbar">
            <div class="nav-info">
                <a href="#" class="username"><label th:text="${username}" ></label></a>
                <a href="/myTransanction" class="bookshelf">||&nbsp;&nbsp;&nbsp;我的交易</a>
                <a href="/logout" class="logout">[ 退 出 ]</a>
            </div> <!-- nav-info -->

            <form action="searchcommodity" method="post">
                <div class="nav-search">
                    <a href="/home"><img class="logo" src="/img/logo2.png"></a>
                    <div class="search-form">
                        <input id="search-input" name="name" type="search" class="searchIn" placeholder="搜商品...">
                        <a href="#" class="search-logo">| &nbsp;<img src="/img/search.png"></a>
                        <button type="submit" id="search-button" class="searchBtn">搜索</button>
                    </div>
                </div><!--  nav-search -->
            </form>


            <ul class="menu">
                <li><a class="active" href="home">首页</a></li>
                <li><a href="/gocomm">商品良品</a></li>
                <li><a href="/goAskcomm">求购区</a></li>
                <li><a href="#">服务区</a></li>
            </ul>
        </nav>


        <div class="carousel">
            <div class="book-guide">
                <h4>商品导航</h4>
                <ul class="book-class">
                    <th th:each ="category :${categories}">
                        <li><a href="#book-part-${category.key}" title="book-part-${category.key}" ><label th:text="${category.value}" ></label></a></li>
                    </th>
                </ul>
            </div><!-- book-guide -->
            <div class="slider">
                <div class="slider-img">
                    <ul class="slider-img-ul">
                        <li><img src="<%=request.getContextPath()%>/img/carousel/5.jpg"></li>
                        <li><img src="<%=request.getContextPath()%>/img/carousel/1.jpg"></li>
                        <li><img src="<%=request.getContextPath()%>/img/carousel/2.jpg"></li>
                        <li><img src="<%=request.getContextPath()%>/img/carousel/3.jpg"></li>
                        <li><img src="<%=request.getContextPath()%>/img/carousel/4.jpg"></li>
                        <li><img src="<%=request.getContextPath()%>/img/carousel/5.jpg"></li>
                        <li><img src="<%=request.getContextPath()%>/img/carousel/1.jpg"></li>
                    </ul>
                </div>
            </div><!-- 	slider -->
        </div><!-- carousel -->

        <!-- 图书分类 -->
        <div id="container">

            <th:forEach items="${booksMap}" var="books" varStatus="booksStatus">
                <div class="book-part" id="book-part-${books.value.get(0).getCategory().getId()}">
                    <h3 class="book-title"><a href="#">| ${books.key.getName()}</a></h3>
                    <a class="more" href="goBookStore.do?id=${books.value.get(0).getCategory().getId()}"> > > 更多</a>
                    <ul class="book-lists">
                        <th:forEach items="${books.value}" var="book" varStatus="bookStatus">
                            <li class="book-list">
                                <%--<a href="bookDetail.do?id=${book.getId()}" class="book-pic" target="_blank">--%>
                                <a href="/books/${book.getId()}" class="book-pic" target="_blank">
                                    <img src="<%=request.getContextPath()%>/img/book-list/article/${book.getBookImage().getId()}.jpg">
                                </a>
                                <a href="#" class="book-info">
                                    <h5 class="book-name">${book.getName()}</h5>
                                    <span class="book-detail">${book.getDescription()}</span>
                                </a>
                                <span class="book-price">￥${book.getPrice()}
                            <a href="#" class="book-buy">立即下单</a>
                        </span>
                            </a>
                            </li>
                        </th:forEach>
                    </ul><!--  book-list end -->
                </div><!--  book-part end -->
            </th:forEach>
        </div> <!-- container end-->
        <footer>
            <a href="#">©2018-2019 二手交易商城</a>
            <a href="#">意见反馈&nbsp;&nbsp;&nbsp;联系我们&nbsp;&nbsp;&nbsp;隐私权声明&nbsp;&nbsp;&nbsp;使用条款</a>
        </footer>
    </div>
</div>
</body>
</html>