<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <script src="/js/jquery.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/register.js"></script>
</head>
<form action="/register" method="post">
    <div class="mycenter">
        <div class="mysign">

            <div class="col-lg-11 text-center text-info">
                <h2>请注册</h2>
            </div>
            <div class="col-lg-10">
                <input type="text" class="form-control"  name = "username" placeholder="请设置账户名"   />
                <label th:text="${err2}" ></label>
                <label   th:text="${err1}" ></label>
            </div>
            <div class="col-lg-10"></div>
            <div class="col-lg-10">
                <input type="password" class="form-control" name = "password" placeholder="请设置密码" />

            </div>
            <div class="col-lg-10"></div>
            <div class="col-lg-10">
                <button  type="submit" class="btn btn-success col-lg-12"  >注册</button>
            </div>
        </div>
    </div>
</form>
</html>